.main-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
  }
  .inner-container {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .inner-container {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    color: #000;
  }
  .logo-text {
    display: flex;
    gap: 2px;
    font-size: 4px;
    color: #262626;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .logo-text {
      white-space: initial;
    }
  }
  .logo {
    aspect-ratio: 3.13;
    object-fit: auto;
    object-position: center;
    width: 106px;
    max-width: 100%;
  }
  .logo-subtext {
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin: auto 0;
  }
  .contact-info {
    display: flex;
    margin-top: 17px;
    gap: 8px;
    white-space: nowrap;
    text-transform: capitalize;
  }
  @media (max-width: 991px) {
    .contact-info {
      white-space: initial;
    }
  }
  .contact-icon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    fill: rgba(0, 0, 0, 0);
  }
  .contact-text {
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .footer-section {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
    color: #000;
    text-transform: capitalize;
  }
  .footer-title {
    text-align: center;
    font: 32px/131% Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .footer-link {
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: 31px;
  }
  .newsletter-container {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
  }
  .newsletter-title {
    color: #000;
    text-transform: capitalize;
    font: 32px/131% Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
  }
  .newsletter-description {
    color: #000;
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 34px;
  }
  .newsletter-form {
    display: flex;
    margin-top: 32px;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .newsletter-form {
      padding-right: 20px;
    }
  }
  .newsletter-input {
    color: #81848a;
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    margin: auto 0;
  }
  .subscribe-button {
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize;
    justify-content: center;
    padding: 25px 40px;
  }
  @media (max-width: 991px) {
    .subscribe-button {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .footer-note {
    font-family: Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(22, 22, 22, 0);
    margin-top: 97px;
    width: 100%;
    color: #000;
    text-transform: capitalize;
    padding: 45px 60px;
  }
  @media (max-width: 991px) {
    .footer-note {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }