.footer {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
}

.footer-top,
.footer-middle {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .footer-top,
  .footer-middle {
    flex-wrap: wrap;
  }
}

.brand {
  display: flex;
  gap: 2px;
  font-size: 4px;
  color: #262626;
  white-space: nowrap;
}

.brand-logo {
  aspect-ratio: 3.13;
  object-fit: cover;
  width: 106px;
}

.brand-tagline {
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  margin: auto 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  gap: 8px;
  text-transform: capitalize;
}

.contact-icon {
  aspect-ratio: 1;
  object-fit: cover;
  width: 24px;
}

.contact-text {
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  margin: auto 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
  color: #000;
  text-transform: capitalize;
  margin-top: 9px;
}

.footer-title {
  font-size: 32px;
  line-height: 131%;
  text-align: center;
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
}

.footer-link {
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 28px;
}

.newsletter-subtitle {
  color: #000;
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  text-transform: capitalize;
  margin-top: 34px;
}

.newsletter-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 32px;
}

.newsletter-email {
  color: #81848a;
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.newsletter-subscribe {
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
}

.footer-bottom {
  font-family: "Clash Display", -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  border-top: 1px solid rgba(22, 22, 22, 0);
  padding: 45px 60px;
  margin-top: 97px;
}

@media (max-width: 991px) {
  .footer-bottom {
    padding: 0 20px;
    margin-top: 40px;
  }
}